@{
    ViewData["Title"] = "List of Dashboards";
    ViewData["Head"] = "Dashboards Management";
    ViewData["Dashboard"] = "active";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}


<!-- Chart -->
<div class="row match-height">
    <div class="col-12">
        <div class="card">
            <div id="gradient-line-chart1" class="height-250 GradientlineShadow1"></div>
        </div>
    </div>
</div>
<!-- Chart -->